<igx-data-chart class="chart">
  <igx-numeric-x-axis #xAxis [title]="'X'"></igx-numeric-x-axis>
  <igx-numeric-y-axis #yAxis [title]="'Y'"></igx-numeric-y-axis>
  <igx-scatter-line-series
    [xAxis]="xAxis"
    [yAxis]="yAxis"
    [dataSource]="chartData"
    xMemberPath="x"
    yMemberPath="y"
    transitionDuration="500"
    [showDefaultTooltip]="false"
    [tooltipTemplate]="tooltip"
  >
  </igx-scatter-line-series>
  <igx-item-tool-tip-layer></igx-item-tool-tip-layer>
</igx-data-chart>
<div class="other-content">Other Content</div>
<igx-category-chart
  class="chart"
  [dataSource]="chartData"
  chartType="Spline"
></igx-category-chart>
<div class="other-content">Other Content</div>
<ng-template #tooltip>
  <h1>Test</h1>
  <div>This is a template</div>
</ng-template>
